.description {
	padding: 10px;
	display: flex;
}

.description img {
	width: 200px;
	margin-right: 20px;
}

.description div {
	color: #fff;
}

.contacts {
	padding-left: 10px;
}

.photoBlock {
	display: flex;
	flex-direction: column;
}